.console {


  float: left;
  width: 18%;



}

h3 {

  font-size: 32px;
  margin-left: 70px;
  padding-top: 52px;


}

.consoles {

  display: flex;
  justify-content: center;
  margin: 22px;



}

.valor {

  font-weight: bold
}

@media screen and (min-width: 1200px)  {

  .console {


    float: left;
    width: 14%;
  
  
  
  }
  
  h3 {
  
    font-size: 32px;
    margin-left: 114px;
    padding-top: 52px;
  
  
  }
  
  .consoles {
  
    display: flex;
    justify-content: center;
    margin: 12px;
  
  
  
  }
  
  .valor {
  
    font-weight: bold
  }




} 