.container {
  display: flex;
  position: relative;

}


.container h1 {
  position: absolute;
  top: 60px;
  text-align: left;
  font-size: 40px;
  color: white;
  margin: 74px;

}



.container p {
  position: absolute;
  top: 106px;
  text-align: left;
  font-size: 20px;
  color: white;
  margin: 74px;
  font-size: 33px;

}

.container button {

  width: 16%;
  position: absolute;
  top: 144px;
  text-align: center;
  font-size: 22px;
  color: white;
  background-color: #2A7AE4;
  margin: 74px;
  border: none;
  border-radius: 5px 5px 5px 5px;
}

@media screen and (min-width: 1200px)  {

  .container {
    display: flex;
    position: relative;
  
  }
  
  
  .container h1 {
    position: absolute;
    top: 105px;
    text-align: left;
    font-size: 40px;
    color: white;
    margin: 74px;
  
  }
  
  
  
  .container p {
    position: absolute;
    top: 145px;
    text-align: left;
    font-size: 20px;
    color: white;
    margin: 74px;
  
  
  }
  
  .container button {
  
    width: 16%;
    position: absolute;
    top: 174px;
    text-align: center;
    font-size: 22px;
    color: white;
    background-color: #2A7AE4;
    margin: 74px;
    border: none;
    border-radius: 5px 5px 5px 5px;
  }


}